<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <h1>PRIVACY POLICY</h1>
    <ol>
        <li>DATA MENGENAI PERLOMBAAN DISIMPAN PADA FIREBASE DAN DITAMPILKAN PADA APLIKASI</li>
        <li>TIDAK MENGAMBIL DATA PRIBADI SELAIN NAMA EMAIL, EMAIL DIGUNAKAN SEBAGAI ACUAN SIAPA YANG MEMBUAT DATA</li>
        <li>INFORMASI YANG ADA DI DALAM APLIKASI TIDAK AKAN DIBERIKAN KEPADA PIHAK LUAR MANAPUN</li>
    </ol>
</body>
</html>